.btn {
  &:focus {
    box-shadow: none;
  }
}
.btn-linear-rounded {
  border-radius: 50px;
  background: linear-gradient(71deg, #e72b29 0%, #f26d42 100%);
}
.btn-border-rounded {
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box, 
  linear-gradient(90deg, #e2313b 0%, #ff6d3e 100%) border-box;
  color: $primary;
  padding: 3px 15px;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s;
  svg {
    margin-left: 4px;
  }
  &:hover {
    color: $primary;
    opacity: 0.5;
  }
}
.btn-bo-F13B3B{
  background-color: #F13B3B;
  border: none;
  border-radius: 20px;
  color: $light;
  font-size: 18px;
  font-weight: 600;
  @include minWidth(768px) {
    font-size: 20px;
   }
}
.btn-orange-bo{
  background-color: $color-FF6D3E;
  border: none;
  border-radius: 20px;
  color: $light;
  font-size: 18px;
  font-weight: 600;
  @include minWidth(768px) {
    font-size: 20px;
   }
}
.btn-blue-underline{
  color: #119DDE;
  background: none;
  border: none;
  text-decoration: underline;
}
.btn-orange-arrow{
  color: $primary;
  display: flex;
  align-items: center;
  gap: 5px;
  &::after{
    content: '';
    background-image: url("../images/icon/ic_arrow-right-orange.svg");
    width: 15px;
    height: 13px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.btn-base {
  border-radius: 50px;
  color: $light;
  padding: 5px 15px;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s;
  svg {
    margin-left: 7px;
  }
  &:hover {
    color: $light;
    opacity: 0.5;
  }
}
.btn-hamburger {
  width: 24px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
  z-index: 1060;
  @include trans;
  margin-left: 24px;

  span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: $light;
    @include trans;
  }

  &:hover {
    span:nth-child(1) {
      transform: translateX(2px);
    }

    span:nth-child(2) {
      transform: translateX(-3px);
    }
  }
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}
.btn-linear-bor-rounded{
  text-transform: uppercase;
  color: $light;
  border: 1px solid #FFC686;
  background: linear-gradient(90deg, #FFA53E 0%, #FF6D3E 100%);
  border-radius: 10px;
  font-size: 22px;
  min-width: 293px;
  height: 45px;
  padding-top: 2px;
}