.form-contact-top {
  background-image: url("../images/bg-contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .content {
    margin-top: 20px;
    display: grid;
    gap: 39px;
    color: $light;
    padding-bottom: 60px;
    @include minWidth(1200px) {
      grid-template-columns: 618px 1fr;
      padding-bottom: 0;
    }
    .custom-field-one-half {
      @include maxWidth(567px) {
        width: 100%;
        margin-left: 0 !important;
      }
    }
  }
  .support-box {
    h2 {
      font-size: 32px;
      line-height: 1.4;
      margin-bottom: 11px;
    }
    .des {
      font-size: 17px;
      margin-bottom: 37px;
    }
  }
  .form-contact-support {
    .custom-field-group {
      &:nth-child(even) {
        margin-left: 20px;
      }
    }
  }
}
.breadcrumbs-white {
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    color: $light;
  }
  span {
    color: $light;
  }
}
.custom-field-one-half {
  width: calc(50% - 10px);
  float: left;
  margin-bottom: 20px;
  clear: none;
  .title {
    font-weight: 600;
    margin-bottom: 12px;
  }
  input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    color: $grey-6;
    padding: 12px;
  }
}
.custom-textarea-group {
  .title {
    font-weight: 600;
    margin-bottom: 12px;
  }
  textarea {
    width: 100%;
    border-radius: 10px;
    color: $grey-6;
    height: 108px;
  }
}
.info-contact {
  padding-top: 63px;
  padding-bottom: 63px;
  .content-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    @include minWidth(1200px) {
      flex-direction: row;
      gap: 20px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 1.28;
      color: $main-01;
      @include minWidth(768px) {
        font-size: 28px;
      }
    }
    .des {
      font-size: 17px;
      line-height: 2.05;
      text-align: justify;
    }
    .text {
      @include minWidth(1200px) {
        max-width: 635px;
      }
    }
    .list-info {
      margin-top: 18px;
      li {
        display: flex;
        gap: 14px;
        font-size: 16px;
        font-weight: 300;
        @include minWidth(768px) {
          font-size: 17px;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #e5e5e5;
          padding-bottom: 11px;
          margin-bottom: 11px;
          @include minWidth(768px) {
            padding-bottom: 18px;
            margin-bottom: 18px;
          }
        }
        strong {
          color: $color-282828;
          font-weight: 600;
        }
        svg {
          width: 12px;
          height: 16px;
          path {
            fill: $color-FF6D3E;
          }
          circle {
            fill: $color-FF6D3E;
          }
        }
      }
    }
  }
  .maps {
    margin-top: 32px;
    iframe {
      width: 100%;
      border-radius: 20px;
    }
  }
}
.float-contact {
  position: fixed;
  bottom: 40%;
  right: 30px;
  z-index: 99999;
}
.chat-zalo,
.chat-facebook,
.call-hotline {
  display: block;
  margin-bottom: 6px;
  line-height: 0;
}
.float-contact img {
  width: 45px;
  height: 45px;
}
