$primary: #E2313B;
$green-light: #EAF6D8;
$orange-1: #F26D42;
$color-FF5959: #FF5959;
$color-6F6F6F: #6F6F6F;
$color-FB9E82: #FB9E82;
$color-EBC499: #EBC499;
$color-FF6D3E: #FF6D3E;
$color-FA53E3E: #FFA53E;
$color-D1725338: #D1725338;
$color-FF900A: #FF900A;
$color-A9A9A9: #A9A9A9;
$color-D9D9D9: #D9D9D9;
$color-E0E0E0: #E0E0E0;
$color-797979: #797979;
$color-DDDDDD: #DDDDDD;
$color-494949: #494949;
$color-E5E5E5: #E5E5E5;
$color-282828: #282828;
$green-2:#A1AF8C;
$grey-1:#4E514F;
$grey-2:#333;
$grey-3: #3A3A3A;
$grey-4: #464646;
$grey-5:#403F46;
$grey-6: #898989;
$grey-7: #545454;
$grey-light: #5A5A5A;
$grey-border: #E1E1E1;
$red: #F54343;
$red-2: #ED1F24;
$light: #fff;
$dark:#000;

$main-black: #2E2E2E;
$main-01: #121F38;
$main-02: #003E83;
$main-03: #1E5AB2;
$main-04: #00C7F2;
$main-05: #F9FAFE;
$main-06 : #F1F9FF;
$main-07: #062249;
$main-light: #EBF5FC;
$sub-main-error: #F93232;
$sub-main-validation: #FFB82E;
$sub-main-success: #31C074;
$sub-main-01: #09A4E8;
$sub-main-light: #9AB7D8;
$gray-01: #4D4D4D;
$gray-02: #868D95;
$gray-03: #C6CBD0;
$gray-04: #F0F0F0;
